html {
    scroll-behavior: smooth;
}
body {
    padding-top: 90px;
}
section {
    position: relative;
}
section.padded {
    padding: 32px 0;
}
.overlay {
    position: absolute;
    top:0; left: 0; bottom: 0; right: 0;
    background: black;
    opacity:0.5;
    transition: opacity .6s;
}
.overlay_content {
    position: absolute;
    top:0; left: 0; bottom: 0; right: 0;
}
a:hover .overlay {
    opacity:0;
}

.jumbotron {
    background-image: url("/static/backgrounds/choir.jpg");
    background-size: cover;
    background-position: 0px -50px;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
  }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#about {
    background: #222;
}
#about .carousel-item {
    min-height: 250px;
}
#who .col-md-4 { padding: 0; }
#who .col-md-8 { padding-left: 0px;}
#who a {
    display:inline-block;
    min-height: 280px;
    width:100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    color: white;
}
#who .overlay_content {
    padding-top: 180px;
}
#who a.musical-director {
    background: url(/static/backgrounds/alistair.jpg) no-repeat;
    background-position: -75px -30px;
}
#who a.choir {
    background: url(/static/backgrounds/choir.jpg) no-repeat;
    background-size: cover;
    background-position: 0px -80px;
}
#sing {
    background: url(/static/backgrounds/brussels_2019.jpg) no-repeat;
    background-size: cover;
    color: white;
}
#review {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: #689fb9 url(/static/backgrounds/quote.jpg) no-repeat;
    background-size: 100px;
    background-position-x: 16px;
    color: #fff
}
#review a {
    color: #13384a;
}
#social{
    background: #222;
    text-align: center;
    padding: 32px 0;
}
#social a {
    text-indent: -1000000px;
    overflow: hidden;
    text-align: left;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 61px;
    margin-bottom: 1em;
    padding: 0 0.5em;
    vertical-align: top;
    width: 61px;
    margin:0 16px;
}
#social a.twitter {background-size: contain; background-image: url(/static/icons/twitter.svg); }
#social a.twitter:hover { background-image: url(/static/icons/twitter_over.svg); }
#social a.facebook {background-size: contain; background-image: url(/static/icons/facebook.svg); }
#social a.facebook:hover { background-image: url(/static/icons/facebook_over.svg); }
#social a.youtube {background-size: contain; background-image: url(/static/icons/youtube.svg); }
#social a.youtube:hover { background-image: url(/static/icons/youtube_over.svg); }

footer {
    background-color: rgb(33, 33, 33);
    padding: 32px 0px;
    color: #757575;
}